<window id="searchWin" title="" border="normal" width="600px" apply="ru.hoteladvisors.testtask.composer.IndexComposer"
        style="padding-top:10px;padding-left:10px;">
    <caption>
        <label value="Контакты" style="float:left;font-size:28px"/>
    </caption>
    <vbox hflex="true">

        <panel title="Новый контакт" border="normal" collapsible="true" id="panelAddContact">
            <panelchildren>
                <grid>
                    <rows>
                        <row>
                            <label>Фамилия</label>
                            <textbox id="txLastName"/>
                        </row>
                        <row>
                            <label>Имя</label>
                            <textbox id="txFirstName"/>
                        </row>
                        <row>
                            <label>Отчество</label>
                            <textbox id="txMiddleName"/>
                        </row>
                        <row>
                            <label>Телефон</label>
                            <textbox id="txPhone"/>
                            <button label="Добавить" forward="onClick=onAddContact()"/>
                        </row>
                    </rows>
                </grid>
            </panelchildren>
        </panel>

        <listbox id="contactListbox" hflex="true" height="300px" forward="onSelect=onSelectContact()">
            <listhead>
                <listheader label="Фамилия"/>
                <listheader label="Имя"/>
                <listheader label="Отчество"/>
                <listheader label="Телефон"/>
                <listheader label=""/>
            </listhead>
            <template name="model">
                <listitem>
                    <listcell label="${each.lastName}"/>
                    <listcell label="${each.firstName}"/>
                    <listcell label="${each.middleName}"/>
                    <listcell label="${each.phone}"/>
                    <listcell>
                        <button label="Удалить" forward="onClick=onDeleteContact(${each.id})"/>
                    </listcell>
                </listitem>
            </template>
        </listbox>

        <panel title="Новый адрес" border="normal" collapsible="true" id="panelAddAddress">
            <panelchildren>
                <grid>
                    <rows>
                        <row>
                            <label>Индекс</label>
                            <textbox id="txPostIndex"/>
                        </row>
                        <row>
                            <label>Город</label>
                            <textbox id="txCity"/>
                        </row>
                        <row>
                            <label>Улица</label>
                            <textbox id="txStreet"/>
                        </row>
                        <row>
                            <label>Дом</label>
                            <textbox id="txBuilding"/>
                        </row>
                        <row>
                            <label>Квартира</label>
                            <textbox id="txFlat"/>
                            <button label="Добавить" forward="onClick=onAddAddress()"/>
                        </row>
                    </rows>
                </grid>
            </panelchildren>
        </panel>

        <listbox id="addressListbox" hflex="true" height="300px">
            <listhead>
                <listheader label="Индекс"/>
                <listheader label="Город"/>
                <listheader label="Улица"/>
                <listheader label="Дом"/>
                <listheader label="Квартира"/>
                <listheader label=""/>
            </listhead>
            <template name="model">
                <listitem>
                    <listcell label="${each.postIndex}"/>
                    <listcell label="${each.city}"/>
                    <listcell label="${each.street}"/>
                    <listcell label="${each.building}"/>
                    <listcell label="${each.flat}"/>
                    <listcell>
                        <button label="Удалить" forward="onClick=onDeleteAddress(${each.id})"/>
                    </listcell>
                </listitem>
            </template>
        </listbox>

    </vbox>
</window>